*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2)) blue;
    background-size: cover;
}

form{
    margin-top: 50px;
    text-align: center;
}

input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;
    color: white;
}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}

h1{
    margin-bottom: 30px;
    color: white;
}

::placeholder{
    color: silver;
}
